<mat-card>
  <mat-card-title>Suma ilości kłód w boksach</mat-card-title>
  <mat-card-subtitle>z całego dnia</mat-card-subtitle>
  <div class="row">
    <div class="col-sm">
      <mat-card>
        <p>Trak: {{_sumBox?.trak}}</p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <p>Boks 4: {{_sumBox?.boks4}}</p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <p>Boks 3: {{_sumBox?.boks3}}</p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <p>Boks 2: {{_sumBox?.boks2}}</p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <p>Boks 1: {{_sumBox?.boks1}}</p>
      </mat-card>
    </div>
  </div>
</mat-card>
